
.my-table{
  overflow: hidden;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  &-hidden{
    visibility: hidden;
    background: transparent!important;
    // display: none;
  }
  .my-table-fixed{
    position: absolute;
    top: 0;
    left: 0;
    .my-table__header-wrapper{
      position: absolute;
      top: 0;
      left: 0;
    }
    .my-table__body-wrapper{
      position: absolute;
      top: 38px;
      left: 0;
      // background: #fff;
    }
  }
&__header{
  table-layout: fixed;
  border-collapse: separate;
  width: 100%;
  .my-table__header_th{
    padding: 8px 0;
    text-align: left;
    color: #333;
    font-weight: bolder;
    font-size: 12px;
    background-color: #f1f2f3;
    border-bottom: 1px solid #e8eaec;
    &-cell{
      padding:0 10px;
      
    }
  }
}
&__header-wrapper{
  overflow: hidden;
}
&__body-wrapper{
  overflow: auto;
  .my-table__body{
    table-layout: fixed;
    border-collapse: separate;
    width: 100%;
    overflow-y:auto
  }
  .my-table__td{
    text-align: left;
    padding: 12px 0;
    border-bottom: 1px solid #e8eaec;
    background: #fff;
    font-size:12px;
    &-cell{
      padding: 0 10px;
      width:100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      word-break: break-all;
    }
  }
}
}